*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
font-family: verlagBold;
src: url(../assets/Verlag/VERLAG-BOLD.OTF);
}
@font-face {
font-family: verlagBook;
src: url(../assets/Verlag/VERLAG-BOOK.OTF);
}


.container-fluid{
  background-color: rgb(32, 107, 172);
  width: 100vw;
  height: 100vh;
}

.logo{
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 130px;
}

h1{
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  font-family: verlagBold;
}
.botones{
  position: relative;
  left: 50%;
  transform: translate(-50%);

}
.btn-whatsapp {
  max-width: 420px;
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px black;
}
.btn-whatsapp img{
  width: 30px;
  margin-right: 10px;
}
.btn-whatsapp h5{
  font-family: verlagBold;
  font-size: 26px;
  margin: 0px;

}

.email, .messenger, .phone{
  background-color: white;
  max-width: 120px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 11px;
  height: 50px;
  box-shadow: 0px 4px 15px black;
}
.contacto{
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.contacto img{
  width: 30px;
}

.redesSociales{
  margin-top: 50px;
}
.facebook, .youtube, .twitter {
  padding: 0px !important;
}
.redesSociales img {
  width: 45px;
  height: 45px;
  padding: 0px !important;
}

/*RESPONSIVE*/
@media (min-width: 400px) and (orientation: landscape) {
  .container-fluid {
    height: 160vh !important;
  }
}

@media (min-height: 600px) {
  .container-fluid{
    height: 100vh !important;
  }
}

/*tablet*/
@media (min-width: 600px) {
  .logo{
    max-height: 250px;
  }
  .btn-whatsapp {
    width: 45%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .container-fluid {
    height: 100vh;
  }

}
